---
layout: default
---
{% include header2.html %}
<script type="text/javascript">
	function checkuser() {
         if($('password') == "李明卡") {
           return true;
         }else {
            return false;
         }
      }

      function $(id) {
        return document.getElementById(id).value;
      }
</script>
<div>
	<form action="index2.html">
	<span>请输入你的名字（注：如无反应则无访问权限）</span>
	<input type="text" id="password">
	<input type="submit" value="确认" onclick="return checkuser()">
	</form>
</div>
{% include footer2.html %}
