<header role="banner">
<style>
	#title_bar{
		padding-top: 10px;
	}

	.bar_item{
		font-size: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.title_link{
		color: #999999;
	}
</style>
<div class="wrap">
  <h1>
    <a class="site-title" href="{{ site.baseurl }}/HgbNmugF.html">{{ site.title }}</a>
  </h1>
  <hr>
  <div id="title_bar">
	{% for page in site.pages %}
	{% if page.bar == true %}
	<span class="bar_item"><a href="{{ page.url | prepend: site.baseurl }}" class="title_link">{{ page.title }}</a></span>
	{% endif %}
	{% endfor %}
  </div>
</div>
</header>
