<!DOCTYPE html>
<html>
  {% include head.html %}
<body class="{{ page.body_class }}">
  {{ content }}
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascript/to_top.js"></script>
  <div style="display: none" id="goTopBtn">
    <img id="up" border=0 src="{{ site.baseurl }}/assets/images/up_b.png"
      alt="返回顶部" style="z-index: 5"></img>
</div>
<script type=text/javascript>goTopEx();</script>
<script>
      function no_schema_links () {
        var links = document.querySelectorAll('.js-remove-domain-schema');
        if (links) {
          for (i = 0; i < links.length; ++i) {
            var link = links[i],
              text = link.innerHTML,
            no_schema = text.replace(/.*?:\/\//g, "");
            link.innerHTML = no_schema;
          }
        }
      }

      window.onload = function () {
        no_schema_links();
      }
    </script></body>

</html>