<!DOCTYPE html>
<html>

  {% include head.html %}
  <script type="text/javascript">
	window.onresize = function {
		start_pos = $("blog_badge").offsetTop;
		$("one").style.top = start_pos + 'px';
		$("two").style.top = start_pos + 'px';
		$("three").style.top = start_pos + 'px';
	}
	function $(name) {
		return document.getElementById(name);
	}
  </script>
  <script language="JavaScript" src="{{site.baseurl}}/assets/javascript/check_cookie.js"></script>
  <script language="JavaScript" src="{{site.baseurl}}/assets/javascript/menu.js"></script>
  <body class="{{ page.body_class }}" onload="check()">

    {{ content }}

    {{ if site.logo}}
    <a id="blog_badge" class="menu_positive">
            <span style="background-image:
            url('{{ site.baseurl }}/assets/images/menu0.png');" onclick="start()"></span>
    </a>
	<a id="one" class="menu_positive">目录</a>
	<a href="{{ site.baseurl }}/about.html" id="two" class="menu_positive">关于</a>
	<a href="{{ site.baseurl }}/index2.html" id="three" class="menu_positive">主页</a>
    {{/if}}
	<!-- <span style="background-image:
            url('{{ site.baseurl }}/assets/images/menu1.png');"></span> -->
	<!-- <span style="background-image:
            url('{{ site.baseurl }}/assets/images/menu2.png');"></span> -->
	<!-- <span style="background-image:
            url('{{ site.baseurl }}/assets/images/menu3.png');"></span> -->
    <script>
      function no_schema_links () {
        var links = document.querySelectorAll('.js-remove-domain-schema');
        if (links) {
          for (i = 0; i < links.length; ++i) {
            var link = links[i],
              text = link.innerHTML,
            no_schema = text.replace(/.*?:\/\//g, "");
            link.innerHTML = no_schema;
          }
        }
      }

      window.onload = function () {
        no_schema_links();
      }
    </script>
  </body>

</html>
