--- 
layout: default 
body_class: post-template 
---
{% if page.image %}
<div id="feature_image">
	<div class="inner"
		style="background-image: url('{{ site.baseurl }}/content/images//{{ page.image }}')">
		<img src='{{ site.baseurl }}/content/images/{{ page.image }}'></div>
</div>
{% endif %}
<article role="main" class="{% if page.image %}image{% endif %}">
	<header>
		<a href="{{ site.baseurl }}/index2.html" id="home_link">«</a>
		<div class="meta">
			<time datetime="{{ page.date | date:'%Y-%m-%d' }}">
				<a href="{{ page.url }}">{{ page.date | date: "%Y 年 %m 月 %d 日" }}</a>
			</time>
			<span class="count" id="js-reading-time">&nbsp;</span>
		</div>
		<h1>{{ page.title }}</h1>
	</header>
	<div class="text" id="js-post-content">{{ content }}</div>

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/duoshuo_2.css">
<div class="ds-thread" data-thread-key="{{ page.id }}"
		data-title="{{ page.title }}"
		data-url="www.lanyuanxiaoyao.cn{{page.url}}"></div>
<script type="text/javascript">
		var duoshuoQuery = {
			short_name : "lanyuanxiaoyao"
		};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';
			ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:'
					: 'http:')
					+ '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] || document
					.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
{% include footer.html %}
</article>