--- 
layout: default 
body_class: post-template 
---
{% if page.image %}
<div id="feature_image">
	<div class="inner"
		style="background-image: url('{{ site.baseurl }}/content/images//{{ page.image }}')">
		<img src='{{ site.baseurl }}/content/images/{{ page.image }}'>
	</div>
</div>
{% endif %}

<article role="main" class="{% if page.image %}image{% endif %}">
	<header>
		<a href="{{ site.baseurl }}/index2.html" id="home_link">«</a>
		<div class="meta">
			<time datetime="{{ page.date | date:'%Y-%m-%d' }}">
				<a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a>
			</time>
			<span class="count" id="js-reading-time">&nbsp;</span>
		</div>
		<h1>{{ page.title }}</h1>

		<script type="text/javascript" src="{{site.baseurl}}/assets/javascript/to_top.js"></script>
	</header>
	<div class="text" id="js-post-content">{{ content }}</div>

	<div style="display: none" id="goTopBtn">
		<img id="up" border=0 src="{{ site.baseurl }}/assets/images/up.png"
			alt="返回顶部"></img>
	</div>
	<script type=text/javascript>
		goTopEx();
	</script>

	<div class="ds-thread" data-thread-key="{{ page.id }}"
		data-title="{{ page.title }}"
		data-url="www.lanyuanxiaoyao.cn{{page.url}}"></div>
	<script type="text/javascript">
		var duoshuoQuery = {
			short_name : "lanyuanxiaoyao"
		};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';
			ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:'
					: 'http:')
					+ '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] || document
					.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
	{% include footer.html %}

</article>